//LAYOUT
$containerWidth: 960px;
$gutterWidth: 80px;
$innerPadding: 20px;

//COLORS
$red: #d4262e;
$teal: #168ca2;
$blue-cobalt: #3066a8;
$blue-pale: #5e8caf;
$blue-midnight: #2d3944;
$blue-asphalt: #627480;
$blue-sky: #e7f0f5;
$black: #231f20

//FONTS